body {font-family: 'Noto sans KR', sans-serif; line-height: 1.6 ;}
h1 {color:burlywood; text-align: center; }
.animal-🐱래서판다 {font-size: 22px; font-weight: 700; color: #c8390a;}
.name {background-color: lightgoldenrodyellow;}
body {background-color: lightgoldenrodyellow;}