body {background-color:dimgray; color: #eee; background-image: linear-gradient(dune)}
.a1 {background-color :rgb(105, 105, 105); background-image: linear-gradient(0deg, rgb(105, 105, 105) 50% , transparent 50%);}
.a2 {background-color: #7a7171;}